*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body{
    padding: 5px;
    margin: auto;
    width: 100%;
    max-width: 100vh;
    min-height: 100%;
    background-color: rgb(32,32,32);
    color: rgb(232,232,232);
}

#map{
    display: flex;
    flex-wrap: wrap;
    width: 50vh;
    height: 50vh;
    margin: auto;
    border: 2px solid gray;
    border-radius: 5px;
}

.cell{
    margin: 1px;
    border: 1px solid gray;
    border-radius: 5px;
    flex-shrink: 0;
    flex-grow: 1;
    font-style: monospace;
    font-size: small;
    color:black;
}

.open{
    background-color: rgb(176, 176, 176);
}

.blocked{
    background-color: rgb(32,32,32);
}

.orange-goal{
    background-color: rgb(200, 128, 32);
}

.green-goal{
    background-color: rgb(64, 200, 72);
}

.stone{
    border-radius: 50%;
    border: 2px solid rgb(200,200,200);
    background-color: rgb(96, 94, 94);
}

.free-neighbor{
    cursor: pointer;
    border: 2px solid white;
    background-color: rgb(200,200,200);
}

.free-neighbor:hover{
    background-color: rgb(232,232,232);
}