*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body{
    padding: 0;
    margin: auto;
    width: 100%;
    max-width: 100vh;
    min-height: 100%;
    background-color: black;
    color: rgb(232,232,232);
    font-family: monospace;
}

form{
    display: flex;
    flex-grow: 1;
}

input{
    display: block;
    padding: 5px 10px;
    border: none;
    font-family: monospace;
}

#map, #chat{
    display: flex;
    width: 50vh;
    height: 50vh;
    margin: auto;
}

#chat{
    flex-direction: column;
    border-left: 1px solid rgb(96,96,96);
    border-right: 1px solid rgb(96,96,96);
}

#chat_output{
    flex-basis: calc(100% - 40px);
    background-color: rgb(32,32,32);
}

#chat_input{
    flex-grow: 1;
    border-top: 1px solid gray;
    background-color: rgb(48,48,48);
    color: rgb(232,232,232);
}

#chat_send{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    cursor: pointer;
    background-color: rgb(32,32,32);
    color: rgb(232,232,232);
}

#map{    
    flex-wrap: wrap;
    padding: 4px;
    background-color: rgb(96,96,96);
}

.cell{
    margin: 2px;
    border-radius: 5px;
    flex-shrink: 0;
    flex-grow: 1;
    font-style: monospace;
    font-size: small;
    color:black;
}

.open{
    background-color: rgb(176, 176, 176);
}

.blocked{
    background-color: rgb(32,32,32);
}

.orange-goal{
    background-color: rgb(200, 128, 32);
}

.green-goal{
    background-color: rgb(64, 200, 72);
}

.stone{
    border-radius: 50%;
    border: 2px solid rgb(200,200,200);
    background-color: rgb(96, 94, 94);
}

.free-neighbor{
    cursor: pointer;
    border: 2px solid white;
    background-color: rgb(200,200,200);
}

.free-neighbor:hover{
    background-color: rgb(232,232,232);
}